@model IEnumerable<TH_WEB_4_UP.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h2 class="text-center text-danger">Products</h2>
<a href="/Product/Add" class="button">
    <span class="button__text">Add</span>
    <span class="button__icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
            <line y2="19" y1="5" x2="12" x1="12"></line>
            <line y2="12" y1="12" x2="19" x1="5"></line>
        </svg>
    </span>
</a>
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card mb-4">
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text text-danger font-weight-bold">@product.Price.ToString("C")</p>
                    <a class="btn btn-info btn-sm mt-auto" href="/Product/Display/@product.Id">View</a>
                    <a class="btn btn-warning btn-sm mt-2" href="/Product/Update/@product.Id">Edit</a>
                    <form asp-action="Delete" method="post" class="mt-2">
                        <input type="hidden" name="id" value="@product.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
